*{
    font-family: 'Plus Jakarta Sans';
}

body{
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #fff;
    word-spacing: 5px;
}

p{
    margin: 0px;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
}
.margintop{
    margin-top: 100px;
}
.side {
    width: 0;
    height: 100%;
    background-color: #252525;
    position: fixed;
    overflow-x: hidden;
    transition: .8s;
    z-index: 999;
    top: 0
}

.close {
    float: right;
    text-align: center
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    color: #818181
}

.side a {
    padding: 15px 32px;
    font-size: 18px;
    color: #fff !important;
    display: block;
    transition: .3s;
    text-align: center;
    font-family: Nunito, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize !important
}

.side ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    list-style: none
}

.side ul li {
    list-style: none
}

.side .a {
    margin-right: 15px
}

.margintop {
    margin-top: 80px
}

.main {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #FF8024;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    z-index: 1001
}

.lang {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 99;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%)
}

.active{
    color: #fff;
}
.lang ul {
    padding: 0;
    list-style: none
}

.lang ul li {
    display: inline-block;
    margin-right: 60px;
    position: relative
}

.lang ul li a {
    display: block;
    color: #000;
    font-size: 18px;
    transition: .3s;
    font-weight: 700;
}

.lang ul li a:hover {
    text-decoration: none;
    color: #ffffff
}

.log {
    display: inline-block;
    width: 60px;
    margin-left: 20px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999
}

.log1 {
    position: absolute;
    width: 50px;
    z-index: 1;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999
}

.log2 {
    position: absolute;
    width: 200px;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999
}

.login {
    position: absolute;
    right: 20px;
    top: 58%;
    transform: translate(0, -50%);
    z-index: 998
}

.login ul {
    padding: 0;
    list-style: none
}

.login ul li {
    display: inline-block;
    margin-right: 20px
}

.login ul li a {
    color: #000;
    transition: .3s;
    font-family: Nunito, sans-serif
}

.login ul ul li {
    color: #000;
    padding: 7px 12px;
    border-radius: 3px
}

.login ul ul {
    text-align: left;
    border-radius: 5px;
    width: 165px;
    background-color: #fff;
    display: none;
    position: absolute;
    top: 57px;
    z-index: 9;
    left: -19px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%)
}

.login ul li a:hover {
    text-decoration: none;
    color: #00afef !important
}

.btnn {
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    left: 30px;
    top: 50%;
    transform: translate(0,-50%);
}

.navbar-brand{
    padding-left: 35px;
}

.dark-theme{
    background-color: #FF8024;
}

.dark-theme .nav-link{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 0px 20px!important;
    transition: .4s;
    color: #000!important;
}

.dark-theme a:hover{
    color: #fff!important;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #fff!important;
}
#owl-demon .owl-prev, #owl-demon .owl-next, #owl-demon .controls{
    bottom: 0px;
    position: absolute;
    border-radius: 0px!important;
    padding: 10px 18px!important;
    font-weight: 600;
    transition: .4s;
    background-color: #252525!important;
    color: #fff!important;
    border: 2px solid transparent;
}
#owl-demon .owl-prev {
    left: 15px;
    border-radius: 0px 0px 0px 8px!important;
}
#owl-demon .owl-next{
    left: 11%;
    border-radius: 0px 8px 0px 0px!important;
}
#owl-demon .owl-prev i, #owl-demon .owl-next i{
    font-size: 22px;
}

#owl-demon img{
    position: relative;
    opacity: 0.6;
    transition: .4s;
} 

#owl-demon img:hover{
    opacity: .4;
}

.controls{
    position: absolute;
    z-index: 9;
    border-radius: 0px!important;
    padding: 13px 22px!important;
    font-weight: 600;
    transition: .4s;
    background-color: #252525!important;
    color: #fff!important;
    border: 2px solid transparent;
    left: 7%;
    bottom: 0px;
}

.controls span{
    cursor: pointer;
}

.main-box{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 55%;
}

.main-box h4{
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-box p{
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-box a{
    background: linear-gradient(102.57deg,#ff9548,#cb5500 100%);
    border-radius: 6.25rem;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: .03125rem;
    padding: 12px 32px;
    transition: .4s;
}

.main-box a:hover{
    background: linear-gradient(102.57deg,#cb5500,#ff9548 100%);
}

.title-side h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}
.small-round{
    background: rgb(255,183,116);
    background: linear-gradient(315deg, rgba(255,183,116,1) 0%, rgba(255,128,11,1) 100%);
    border-radius: 50%;
    width: 148px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-round img{
    position: absolute;
    width: 140px!important;
    height: 140px;
    transition: .4s;
    border-radius: 50%;
    border: 12px solid #000;
}
.main-round img:hover{
    border: 4px solid #000;
}

.services-text a{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #C2C2C2!important;
}

.services-text{
    margin: auto;
    width: 124px;
    text-align: center;
}

.title-small h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-size: 16px;
    color: #E15F00;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.main-title h2{
    font-size: 34px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    color: #fff;
}

.side-title h6 a{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    transition: .4s;
}
.side-title i{
    margin-left: 15px;
    font-size: 14px;
}
.side-title h6 a:hover{
    color: #E15F00;
}
.review-img{
    position: relative;
}
.review-img::before{
    border-radius: 10px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    transition: .4s;
}
.review-img:hover:before{
    opacity: .7;
}
.review-text{
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    padding: 10px 10px 20px 15px;
}
.review-text p{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-review{
    color: #000;
    font-size: 18px;
    background-color: #FF8024;
    font-weight: 600;
    border-radius: 5px;
    padding: 6px 10px;
}

.why-choose{
    background-color: #FF9E58;
    border-radius: 40px;
    padding: 12px 30px;
    margin: auto;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
}

.left-line{
    margin-left: -12px;
}
.line-box{
    margin-top: 10px;
    background-color: #BCCBFF;
    border-radius: 20px;
    height: 370px;
    padding: 20px 10px 20px 10px;
    transition: .4s;
}
.line-box:hover{
    transform: scale(1.03);
}

.icon-box{
    border-radius: 10px;
    padding: 20px;
    background-color: #769CFF;
    border-radius: 10px 0px 10px 10px;
    transform: rotate(-44.23deg);
    width: 95px;
    height: 95px;
    margin: auto;
}

.icon-box img{
    transform: rotate(44.23deg);
}

.box-text h4{
    margin-top: 26px;
    font-family: 'Plus Jakarta Sans';
    color: #000;
    font-size: 24px;
    font-weight: 600;
}

.box-text p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.center-box{
    background-color: #96FFA7;
}

.center-box .icon-box{
    background-color: #29FF4C;
}

.right-box{
    background-color: #FFF59C;
}

.right-box .icon-box{
    background-color: #FFE924;
}

.title-compnay h2{
    font-family: 'Plus Jakarta Sans';
    color: #fff;
    font-weight: 700;
    font-size: 34px;
}

.compnay-select li, .compnay-selects details{
    background: #0F0F0F;
    border-left: 8px solid transparent;
    border-radius: 6px;
    color: #8E8E8E;
    padding: 20px;
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}
.compnay-selects details{
    padding: 10px;
}
.compnay-select li:hover{
    background: #131313;
    border-left: 8px solid #FF781D;
    padding: 20px;
    color: #FF781D;
}

.compnay-select-active{
    background: #131313!important;
    border-left: 8px solid #FF781D!important;
    padding: 20px!important;
    color: #FF781D!important;
}

.compnay-selects-active{
    background: #000000!important;
    border-left: 8px solid #FF781D!important;
    padding: 10px!important;
    color: #FF781D!important;
}

.btn-company{
    background-color: #FF8F3F;
    border-radius: 6px;
    color: #000;
    font-weight: 700;
    border: 2px solid transparent;
}

.btn-company:hover{
    background-color: #000;
    border: 2px solid #FF8F3F;
    color: #FF8F3F;
}

.compnay-content h4,
.compnay-contents h4{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF7715;
    padding-bottom: 10px;
}

.compnay-content p,
.compnay-contents p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #4B4B4B;
    padding-bottom: 20px;
}

.compnay-content li,
.compnay-contents li{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #6A6A6A;
    padding: 5px;
}
.compnay-content img,
.compnay-contents img{
    margin-right: 10px;
}

.content-2, .content-3, .content-4, .content-5, .content-6{
    display: none;
}

.flip-card {
    background-color: transparent;
    width: 450px;
    height: 450px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -moz-perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
  }
  
  .flip-card-front {
    border-radius: 10px;
    background: #000;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #FF842C, #ff6a00) 1;
    color: black;
    z-index: 2;
    display: flex;
    padding: 16px;
  }
  .flip-card-front h2{
    color: #fff;
    font-size: 36px;
    font-family: Nunito, sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize !important;
  }
  .flip-card-back {
    background: #EE7015;
    height: 442px;
    padding: 10px;
    color: white;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    border-radius: 10px;
  }

  .flip-text{
    position: absolute;
    top: 26px;
    left: 32%;
  }

  .flip-text h4{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    background: linear-gradient(84.43deg, #FF7511 31.24%, rgba(255, 117, 17, 0) 148.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.changeto li::marker{
    content: '➟  ';
    color: #000;
}
.changeto ul{
    padding-left: 20px;
}
.changeto li{
    list-style: circle!important;
    text-align: start;
    letter-spacing: 2px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 10px;
}

.counting{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.stats h5{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FF9D56;
}

.stats img{
    width: 70%;
    margin: auto;
}

.bg-full-bd h2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #FF7612;
    margin-bottom: 34px;
}

.bg-full-bd {
    background: url(../images/gcs/smile.webp);
    background-position: 50% 50%;
    padding: 50px 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg-full-bd::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.contact-us h2{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.fill{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
    z-index: 9999;
}

.in-put{
    background: #1C1C1C;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A2A2A2;
    padding: 10px 10px 10px 24px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
}

.submit-btn{
    background: #FF7511;
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 40px;
    color: #000000;
    border: 3px solid transparent;
    transition: .4s;
}

.submit-btn:hover{
    background-color: transparent;
    border: 3px solid #FF7511;
    color: #FF7511; 
}

.in-put:focus{
    background: #000;
}

.bg-footer{
    background-color: #FFE1CC;
    padding: 20px;
}

.footer-sec p{
    margin-top: 20px;
    color: #3D3D3D;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.footer-sec li{
    margin-bottom: 20px;
}
.footer-sec li a{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #3D3D3D;
}
.footer-sec li a:hover{
    color: #FF7511;
}
.footer-sec li i{
    color: #FF7511;
    margin-right: 10px;
    font-size: 20px;
}
.footer-test p{
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FF7511;
}
.footer-test li{
    margin-bottom: 10px;
}

.footer-test li a{
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: #2F2F2F;
    transition: .4s;
}

.footer-test li a:hover{
    color: #FF7511;
}

.f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 45px;
    color: #2e2e2e;
    display: inline-block;
    background: #ff7f17;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-right: 10px;
}

.f_social_icon a:hover {
    background: #ffffff;
    border-color: #ed692c;
    color:#000;
}

.footer-copyright p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
    background-color: #ff7f17;
    padding: 6px;
    text-align: center;

}

#owl-instas .owl-prev, #owl-instas .owl-next
,#owl-review .owl-prev, #owl-review .owl-next
,#owl-course .owl-prev, #owl-course .owl-next
,#owl-course-1 .owl-prev, #owl-course-1 .owl-next
,#owl-review-1 .owl-prev, #owl-review-1 .owl-next
,#owl-instass .owl-prev, #owl-instass .owl-next
,#owl-review-2 .owl-prev, #owl-review-2 .owl-next
,#owl-placement-1 .owl-prev, #owl-placement-1 .owl-next{
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: -45px;
    padding: 6px 10px!important;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #ff8024;
}
#owl-review .owl-prev, #owl-instas .owl-prev, #owl-review-2 .owl-prev, #owl-placement-1 .owl-prev{
    left: 35%;
}
#owl-review .owl-next, #owl-instas .owl-next, #owl-review-2 .owl-next, #owl-placement-1 .owl-next{
    left: 52%;
}
#owl-course .owl-prev,
#owl-course-1 .owl-prev{
    left: 45%;
} 
#owl-course .owl-next,
#owl-course-1 .owl-next{
    left: 50%;
}
button:focus{
    outline: none;
}

.background-imgs{
    background-image: url("/images/takshak/business.webp");
    background-position: center;
    background-size: cover;
    padding: 80px;
    position: relative;
}
.background-imgs::before{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    content: '';
    width: 100%;
    height: 100%;
}
.takshak-title h1{
    font-size: 60px;
    font-family: "Nexa Black", Sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.takshak-title h2{
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 30px;   
}

.takshak-title span{
    color: #FF8024;
}
.btn-readmore{
    font-size: 20px;
    color: #FF8024;
    border: 2px solid #FF8024;
    border-radius: 6px;
    padding: 8px 25px;
    transition: .4s;
    font-weight: 700;
}
.btn-readmore:hover{
    color: #000;
    background-color: #FF8024;
}

.coach-box span{
    padding: 7px 16px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    background: #ff8024;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 30px #000;
}

.coach-box-1 span{
    padding: 7px 16px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    background: #ff8024;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 30px #000;
}

.coach-box h2{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 24px;
    font-weight: 700;
    word-spacing: 5px;
}

.coach-box-1 h2{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 28px;
    font-weight: 700;
    word-spacing: 5px;
}

.coach-box p{
    font-size: 16px;
    color: #ddd;
    letter-spacing: 1px;
    line-height: 30px;
}

.Services span{
    font-size: 14px;
    color: #ff6b00;
}

.Services h2 {
    font-size: 46px;
    margin-top: 4px;
    margin-bottom: 14px;
}

.Services p{
    color: #ddd;
}

.card-box.card-style-1 {
    box-shadow: 4px 4px 20px 20px rgba(0,0,0,.01);
    box-shadow: var(--shadow-lighter);
    background-color: #0f0f11;
    background-color: var(--color-blackest);
    border-radius: 5px;
    margin-top: 30px;
}

.card-box.card-style-1 .inner .content {
    padding-top: 20px;
}

.card-box.card-style-1 .inner .content .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

.inner-service{
    background-color: #000000;
    box-shadow: rgba(93, 67, 50, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
}

.inner-service:hover{
    background-color: #ff9447;
}

.inner-service:hover .content-service h4{
    color: #000;
}

.inner-service:hover .content-service a{
    color: #000;
}
.content-service{
    padding: 15px;
}
.content-service h4{
    font-size: 18px;
    color: #FF8024;
    font-weight: 700;
}
.content-service p{
    font-size: 14px;
    margin-bottom: 0px;
}

.content-service a{
    font-weight: 600;
    font-size: 16px;
    color: #FF8024;
    position: relative;
    padding-bottom: 5px;
}

.content-service a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.content-service a:hover:after { 
  width: 100%; 
  left: 0; 
}
.service-width img{
  width: 66%!important;
}
.moretext, .moretext1, .moretext2, .moretext3, .moretext4, .moretext5, .moretext6, .moretext7, .moretext8, .moretext9, .moretext10,
.moretext, .moretext11, .moretext12, .moretext13, .moretext14, .moretext15, .moretext16, .moretext17, .moretext18, .moretext19, .moretext20,
.moretext, .moretext21, .moretext22 {
  display: none;
}

.bg-coach-img{
  background-image: url("/images/takshak/bg-coach.webp");
  background-position: center;
  background-size: cover;
  position: relative;
}
.bg-coach-img::before{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  content: '';
  width: 100%;
  height: 100%;
}
.go-top {
    position:fixed;
    bottom:3%;
    right: 4%;
    padding:20px;
    display:none;
    cursor: pointer;
    z-index: 999;
      -webkit-font-smoothing: antialiased;
}
.go-top i {
    background-color: #FF8024;
    padding: 14px 16px;
    border-radius: 50%;
    color: #000000;
    position: absolute; 
    bottom:10px;
    font-size: 24px;
    border: 2px solid transparent;
    transition: .4s;
}

.go-top i:hover {
    transform: scale(1.1);
    background-color: #000;
    border: 2px solid #FF8024;
    color: #FF8024;
}

.coach-img{
    border-radius: 59% 41% 81% 19% / 38% 100% 0% 62%;
    background-color: #ff8024;
    animation: blobkey 10s infinite;
    overflow: hidden;
}


@keyframes blobkey {
    0%{
        border-radius: 49% 51% 19% 81% / 27% 33% 67% 73%;
    }
    25%{
        border-radius: 74% 26% 38% 62% / 27% 52% 48% 73%;
    }
    50%{
        border-radius: 70% 30% 70% 30% / 20% 56% 22% 80%;
    }
    75%{
        border-radius: 35% 65% 56% 44% / 21% 67% 33% 79%;
    }
    100%{
        border-radius: 49% 51% 19% 81% / 27% 33% 67% 73%;
    }
}

.business-box p{
    font-size: 24px;
    font-weight: 700;
}

.business-box img{
    position: relative;
    filter: hue-rotate(287deg);
}

.business-text, .business-text1, .business-text2, .business-text3{
    position: absolute;
}
.business-text{
    top: 51%;
    left: 43%;
}
.business-text p{
    font-size: 24px;
    color: #ff6b00;
}

.business-text1{
    top: 45px;
}

.business-text1 {
    top: 42%;
    left: 6px;
    transform: rotate(299deg);
}
.business-text2{
    bottom: 13%;
    left: 37%;
}

.business-text3{
    top: 44%;
    right: 5%;
    transform: rotate(59deg);
}
.sub-hover{
    transition: .4s;
    position: relative;
}
.sub-hover:hover{
    transform: translate3d(0, -16px, 0);
}
.contact-us-form{
    padding: 24px;
    background: #000;
    border-radius: 10px;
}
.fix-height{
    height: 220px;
}

.main-carded{
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
}

.carded-icon{
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.carded-icon::before{
    -webkit-animation: effct 1.8s infinite;
    -moz-animation: effct 1.8s infinite;
    -o-animation: effct 1.8s infinite;
    animation: effct 1.8s infinite;
    background-color: #ff782b;
    border-radius: 100%;
    margin: -20px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.carded-icon::before {
    animation-delay: .4s;
    -webkit-animation-delay: .4s
}

.carded-icon::after {
    animation-delay: 1s;
    -webkit-animation-delay: 1s
}

@-webkit-keyframes effct {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes effct {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.carded-content h4{
    font-size: 26px;
    font-weight: 700;
    color: #e37220;
}

.carded-content li{
    font-size: 16px;
    font-weight: 600;
    color: #ddd;
    padding: 10px;
    transition: .4s;
}

.carded-content a{
    background: transparent;
    border: 2px solid #ff8024;
    color: #ff8024;
    font-weight: 600;
    transition: .4s;
    font-size: 20px;
}

.carded-content a:hover{
    background-color: #ff8024;
    color: #000;
}

.carded-content li:hover{
    color: #ff8024;
}

.carded-content li i{
    font-size: 18px;
    margin-right: 10px;
}
.price-course p{
    font-size: 24px;
    font-weight: 700;
    color: #ff8024;
    margin-bottom: 20px;
}
.price-course span{
    font-size: 16px;
    color: #a1a1a1;
    margin-left: 10px;
}
.wrapper-thing{
    background-color: #ff7a51;
    padding: 20px;
    border-radius: 10px;
}
.wrapper-thing h2{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
    color: #000;
}
.wrapper-thing p{
    text-align: center;
    margin: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    color: #000;
}

.icons-thing {
    text-align: center;
}
  
.icons-thing i {
  color: #00091B;
  background: #fff;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons-thing i:hover, .icons-thing i:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
}

.agency-design details{
    background-color: #000000;
    box-shadow: inset;
    color: #c4c4c4;
}

.agency-design p{
    letter-spacing: 1px;
}

.agency-design details h5{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.agency-design details:hover{
    color: #EE7015;
}

.content-business p{
    color: #cbcbcb;
}
.content-business h5{
    color: #ffa462;
}
.placement-box{
    border-radius: 10px;
    padding: 26px 10px;
    background-color: #000;
    transition: .4s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.placement-box::before{
    background-color: #fff;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
    transition: .4s;
}

.placement-img{
    width: 190px;
    height: 190px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: auto;    
}

.placement-box h4{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 24px;
    word-spacing: 5px;
}

.placement-box b{
    font-size: 16px;
    line-height: 19px;
    color: #FF6B00;
    margin-right: 10px;
}

.placement-box p{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
}
.dotss, .dotss1, .dotss2{
    position: absolute;
    border-radius: 50%;
    background-color: #FF8024;
}
.dotss{
    top: 44px;
    left: 27%;
    width: 10px;
    height: 10px;
}

.dotss1{
    top: 24px;
    left: 18%;
    width: 23px;
    height: 23px;
}

.dotss2{
    top: 60px;
    left: 14%;
    width: 16px;
    height: 16px;
}

.placement-box:hover::before{
    height: 100%;
    background-color: #FF8024;
}

.placement-box:hover.placement-box h4{
    color: #000;
}
.placement-box:hover.placement-box p{
    color: #000;
    font-weight: 700;
}
.placement-box:hover.placement-box b{
    color: #ffffff;
}
.placement-box:hover .dotss,
.placement-box:hover .dotss1,
.placement-box:hover .dotss2{
    background-color: #000;
}

.effect-oscar {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.effect-oscar img{
    position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.effect-oscar figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.effect-oscar figcaption::before,
.effect-oscar figcaption::after {
	pointer-events: none;
}

.effect-oscar figcaption,
.effect-oscar figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.effect-oscar figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.effect-oscar h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.effect-oscar h2 span {
	font-weight: 800;
}

.effect-oscar h2,
.effect-oscar p {
	margin: 0;
}

.effect-oscar p {
	letter-spacing: 1px;
	font-size: 60%;
    font-weight: 600;
}

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
    color: #ffffff;
    font-size: 24px;
    word-spacing: 5px;
    font-weight: 700;
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

.reasons-box h4{
    word-spacing: 5px;
    font-size: 36px;
    margin-bottom: 26px;
    font-weight: 600;
}

.reasons-box li{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    list-style: none;
    padding: 8px 10px;
    text-transform: capitalize;
    transition: .4s;
}
.reasons-box li:hover{
    color: #FF7612;
}
.review-box{
    position: relative;
    overflow: hidden;
}
.review-box::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: .4s;
    opacity: .4;
    background-color: #000;
    border-radius: 10px;
}
.review-box:hover::before {
    opacity: 0;
    top: 70%;
}

.review-box:hover .review-content h4,
.review-box:hover .review-content p {
    opacity: 0;
    top: 100%;
}

.review-box h4 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 68%;
    opacity: 1;
    left: 35px;
    transition: .4s;
}

.review-box p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 82%;
    opacity: 1;
    left: 35px;
    transition: .4s;
}

.video-card {
    background-color: #000;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    border-radius: 10px;
}   

.video-content {
    padding: 20px;
}

.video-content h4 {
    font-size: 20px;
}

.video-content p {
    font-size: 16px;
    color: #737373;
    font-weight: 500;
}

.video-content a {
    font-size: 18px;
    color: #ff8024;
    font-weight: 600;
    transition: .4s;
}

.ply1 {
    position: relative;
}

.black-before::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .4;
    content: '';
    right: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    height: 100%;
}

.black-before img {
    position: relative;
}

.video-btn a {
    position: absolute;
    right: 0;
    display: table;
    left: 55%;
    top: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 3;
}

.video-btn a {
    left: 52%;
}

.newthing {
    background-color: #fff;
    border-radius: 100%;
    color: #00afef;
    position: relative;
    display: flex;
    margin-right: 25px;
    line-height: 50px;
    font-size: 18px!important;
    align-items: center;
    margin-left: 0;
    height: 50px;
    width: 50px;
    justify-content: center;
}

.newthing::before {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
.newthing::before, .newthing::after {
    -webkit-animation: effct 1.8s infinite;
    -moz-animation: effct 1.8s infinite;
    -o-animation: effct 1.8s infinite;
    animation: effct 1.8s infinite;
    background-color: #fff;
    border-radius: 100%;
    margin: -20px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.newthing i {
    margin-left: 3px;
    color: #ff8024!important;
}

@-webkit-keyframes effct {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes effct {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

/* flasy css */

.flashy-overlay .flashy-next.flashy-show, 
.flashy-overlay .flashy-numeration.flashy-show, 
.flashy-overlay .flashy-prev.flashy-show {
    opacity: 0!important;
}

/* flashy css close */


#owl-review-1 .owl-next {
    left: 51%;
}
#owl-review-1 .owl-prev{
    left: 46%;
}

.float-button {
    text-decoration: none;
    position: fixed;
    padding: 8px;
    transform: rotate(90deg);
    bottom: 40%;
    left: -36px;
    color: #fff;
    background-color:#25D366;
    border-radius: 10px;
    z-index: 100;
    font-family: Arial;
    font-size: 14px;
    animation: whatsapp-animation 0.5s ease-in-out;
    box-shadow: 1px 2px 5px 2px rgba(30,30,30,0.3);
    transition:all 0.3s ease-out;
}

.float-button:hover {
     background-color: #128C7E;
      color: #fff;
}

.fa-whatsapp {
    font-size: 20px !important;
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes whatsapp-animation {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%
    }
}

@media screen and (max-width: 545px) {

    .float-button {
        left: -33px;
        font-size: 12px;
        padding: 4px 10px;
    }
    .fa-whatsapp{
        padding: 0px;
    }
}


/* FitIT Css */

.fitit-box h1{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.fitit-box p{
    font-size: 18px;
    font-weight: 600;
    color: #8d8d8d;
}
.theme-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
    line-height: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1;
    transition: all 500ms ease;
}
.theme-btn.style-two:before {
    border-bottom: 60px solid #6377ee;
}
.theme-btn:before {
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -70px;
    z-index: -1;
    border-bottom: 60px solid #222;
    border-right: 60px solid transparent;
    transition: all 600ms ease;
    transform: translateX(-100%);
}

.theme-btn:before {
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -70px;
    z-index: -1;
    border-left: 60px solid transparent;
    transition: all 600ms ease;
}

.theme-btn.style-two:after {
    border-bottom: 60px solid #FF8024;
}
.theme-btn:after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -70px;
    z-index: -1;
    border-left: 60px solid transparent;
    transition: all 600ms ease;
}
.theme-btn:hover::after {
    transform: translateX(50%);
}
.theme-btn.style-two {
    background: transparent;
}

.theme-btn.style-two {
    border: 2px solid #f7f7f7;
    color: #ffffff !important;
}
.theme-btn.style-two {
    background: transparent;
}
.coach-box-services {
    border: 1px solid;
    padding: 14px 14px;
    margin-bottom: 10px;
    color: #f5f5f5;
    font-weight: 700;
    border-radius: 45px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
}
.services-select-active {
    background-color: #ff6b00;
}

.coach-box-services:hover{
    background: #ff6b00;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.coach-box-services h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.flip-card-fitit {
    background-color: transparent;
    width: 270px;
    height: 400px;
    perspective: 1000px;
    margin: auto;
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -moz-perspective: 1000px;
  }
  
  .flip-card-inner-fitit {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  
  .flip-card-fitit:focus {
      outline: 0;
  }
  
  .flip-card-fitit:hover .flip-card-inner-fitit,
  .flip-card-fitit:focus .flip-card-inner-fitit{
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  .flip-card-front-fitit,
  .flip-card-back-fitit {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .flip-card-front-fitit{
    background: linear-gradient(to left, #000000, #303030);
    border: 3px solid #ff702d;
    border-radius: 10px;
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-back-fitit {
    background: linear-gradient(to right, #ff702d, #ffa255);
    border-radius: 10px;
    color: white;
    padding: 10px;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flip-card-back-fitit h4{
    font-weight: 700;
    color: #000;
    font-family: 'Plus Jakarta Sans';
  }

  .flip-card-back-fitit ul li{
    padding: 10px 14px;
    font-size: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    margin: 5px;
  }
  .flip-card-back-fitit ul li:hover{
    color: #000;
  }

  .course-box h4{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
  }

  .course-box p{
    font-size: 16px;
    color: #c1c1c1;
  }

  .course-box b{
    color: #ffa05c;
  }

  .course-box li{
    font-size: 16px;
    font-weight: 500;
    color: #ddd;
    transition: .4s;
    padding: 4px;
  }
  
  .course-box li:hover{
    color: #FF6B00;
  }

  .course-price h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
  }

  .course-price a{
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid;
    color: #FF6B00;
    transition: .4s;
  }

  .course-price a:hover{
    background-color:#FF6B00;
    border: 2px solid transparent;
    color: #000;
  }

  .approach p span{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
  }

  .approach p{
    font-size: 18px;
    color: #b4b4b4;
    margin-bottom: 10px;
  }

  .approach a{
    font-size: 18px;
    font-weight: 700;
    background-color: #FF7511;
    color: #000;
    border: 2px solid transparent;
    transition: .4s;
  }

  .approach a:hover{
    color: #FF7511;
    border: 2px solid #FF7511;
    background-color: transparent;
  }

  .about-box {
    padding: 22px;
    border-bottom: 3px solid rgb(255, 128, 36);
    transition: all 0.3s ease 0s;
    margin: 20px 0;
    background-color: #000000;
}


.about-box .media-icon {
    width: 60px;
    height: 60px;
}

.about-box:hover .media-icon i {
    background-color: #ff8024;
    color: #fff;
    box-shadow: 0px 0px 0px 8px rgba(254, 143, 52, 0.3);
}

.about-box:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.about-box .media-icon i {
    padding: 15px;
    font-size: 25px;
    border: 1px dashed #ff8024;
    border-radius: 5px;
    color: #ff8024;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    margin-bottom: 10px;
}

.about-box h2 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.about-box p {
    font-size: 14px;
    line-height: normal;
}

.about-btn{
    font-size: 14px;
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    color: #ff8024!important;
    border: 2px solid #ff8024;
    transition: .4s;
}

.about-btn:hover{
    background-color: #ff8024;
    color: #fff!important;
}


.testimonial-box {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #252323;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9a01c;
}

.client-comment p {
    font-size: 0.9rem;
    color: #aca8a8;
}

.Services-2{
    display: none;
}

.fix-height-1{
    height: 250px;
}

.course-box select{
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
}
.course-box select option{
    background-color: #000!important;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
}
.box-coach {
    border-radius: 30px;
    background:#000000;
    position:relative;
    overflow: hidden;
    text-align:center;
}
.box-coach:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset 0 0 25px rgba(255, 129, 45, 0.3);
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #c45427 0%, #ffc579 100%);
}
.box-coach:hover:before {
    width: 100%;
}
.box-coach:hover .image-wrapper {
    padding:0;
}
.box-coach:hover .box-desc {
    color:#000000;
}
.box-coach:hover .social li a {
    background:#000000;
    background-image: none;
    color:#fff;
}
.box-coach:hover .social li a:hover {
    background:#1d1d1d;
    color:#fff;
}
.image-wrapper {
    position: relative;
    max-width: 210px;
    max-height: 210px;
    margin:0 auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fa8e40;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
}
.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}
.box-desc {
    position:relative;
}
.box-desc h5{
    font-size: 24px;
    font-weight: 700;
}
.box-desc p{
    font-size: 20px;
    font-weight: 700;
}
.select-btn{
    background-color: transparent;
    border: 1px solid #FF7511;
    color: #FF7511;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-size: 16px;
    padding: 5px 8px;
    font-weight: 600;
}
.select-btn-active{
    background-color:#FF7511;
    border: 1px solid transparent;
    color: #000;
}
.select-btn:hover{
    background-color:#FF7511;
    border: 1px solid transparent;
    color: #000;
}
#online-price, #online-price-1{
    display: none;
}

.privacy-policy{
    margin-top: 120px;
}

.privacy-policy h1{
    font-size: 40px;
    font-weight: 700;
}

.privacy-policy p{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    color: #9f9f9f;
}

.inprivacy h4{
    font-size: 24px;
    font-weight: 700;
    color: #ffb47d;
    margin-top: 40px;
}

.inprivacy p{
    color: #c9c9c9;
}

.inprivacy li{
    font-size: 18px;
    color: #ffff;
    font-weight: 600;
    padding-top: 5px;
    list-style: circle;
}

@keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-1vw);
    }
    100% {
      opacity: 1;
      margin-left: 0px
    }
  }
  
  details[open] summary~* {
    animation: open .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }